.item-grid-container{
.item-grid{
  width: 100%;
}

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  .item-grid-row{
    display: flex;
    gap: 2px ;
    padding-top: 1px;
    padding-bottom: 1px;
    // grid-template-columns: repeat(24,1fr);
    // grid-template-rows: repeat(7,0.25rem);
    .item-grid-cell{
      background: gray;
      width: 2rem;
      height: 2.5rem;
      border: 1px solid gray;
      border-radius: 0.5rem;
      cursor:pointer;
      transition: all 0.3s;
      position: relative;
      &:after{
        position: absolute;

        height:100%;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top:0;
        left:0;
        color: var(--txt);
        font-size: 3rem;
        font-weight: 900;
      }
      &.fulled{
        background: blue;
      }
      &:not(.fulled){
        &:hover{
          opacity: 0.8;
        }
        &.active,&:hover{
          background-color: blue;
        }
      }
    }
  }
}

.item-grid-hour{
  font-size: 0.75rem;
width: 2rem;
height: 1rem;
text-align: center;
}

.item-grid-day{
  font-size: 0.75rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  margin-top: 1.5px;

}

.broadcast-planification{
  display: flex;
  flex-direction: row;
  width: 100%;

  .broadcast-planification-left{
    width: 5%;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
  }

  .broadcast-planification-right{
    width: 95%;
  }
}

