      <!-- <div *ngIf="display && item.selectedItem "> -->
        <div  style="max-width: 70em;" class="mt-5md:mt-0 md:col-span-2" >
          <div  class="shadow overflow-hidden base:rounded-md">

          <!-- <div *ngFor="let command of arrMainNgFor" class="shadow overflow-hidden base:rounded-md"> -->
            <!-- <div *ngFor="let product of item.controls; let i = index;" class="px-4 py-5 bg-white base:p-6"> -->
              <a
              *ngFor="let patient of arrMainNgFor.patient ;let f = index;">
              
              <div   class="relative px-4 py-5 bg-white base:p-6" >
                <div class="relative">

                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                  <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex items-center justify-center">
                  <span class="pr-3 bg-white text-2xl font-medium text-gray-900">
                    PACIENTE N°{{f+1}} : {{patient.patientName}} {{patient.patientFirstName}}
                  </span>
                  <button *ngIf="actions!='InOrder'"  (click)="updatePlantija( patient)" type="button" class="inline-flex items-center shadow-base px-4 py-1.5 border border-gray-300 text-base leading-5 font-semibold rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <!-- Heroicon name: solid/plus-base -->
                    <svg class="-ml-1.5 mr-1 h-8 w-8 text-gray-400" fill="none" stroke="blue" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
                      </svg>
                    <span>MODIFICAR</span>
                  </button>
                  <button *ngIf="f!=0 && actions!='InOrder'" (click)="deletePatiente(patient,f)" type="button" class="inline-flex items-center shadow-base px-4 py-1.5 border border-red-300 text-base leading-5 font-semibold rounded-full text-red-700 bg-white hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                    
                    <svg class="-ml-1.5 mr-1 h-4 w-4 text-red-400" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    <span>BORRAR</span>
                  </button>
                </div>
              </div>

              </div>
              <!-- <div class="grid grid-cols-8 gap-2">
                <div class="col-span-2">
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{patient.patientName}}</label>
                </div>
               
                <div class="col-span-2">
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{patient.patientFirstName}}</label>
                </div>
              </div> -->
              
              <div   *ngFor="let item of patient.item let i = index;let isFirst = first;" [ngClass]="{'hidden': !isFirst}" >
                
                <div *ngIf="i==0" class="px-4 py-5 bg-white base:p-6">

              <div *ngIf="i==0" class="relative">
                  <!-- <div class="absolute inset-0 flex items-center" aria-hidden="true">
                      <div class="w-full border-t border-gray-300"></div>
                </div> -->
                <!-- <div class="relative flex items-center justify-evenly">
                  <span class="pr-3 bg-white text-lg font-semibold text-gray-900">
                    PLANTILLA NUMERO{{i+1}} de {{patient.patientName}} {{patient.patientFirstName}}
                  </span>
                  <button *ngIf="actions!='InOrder'"  (click)="updatePlantija(item, patient)" type="button" class="inline-flex items-center shadow-base px-4 py-1.5 border border-gray-300 text-base leading-5 font-semibold rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      <svg class="-ml-1.5 mr-1 h-8 w-8 text-gray-400" fill="none" stroke="blue" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
                        </svg>
                      <span>MODIFICAR</span>
                    </button>
                  <button *ngIf="actions!='InOrder'" (click)="deleteShoeSol(item,i)" type="button" class="inline-flex items-center shadow-base px-4 py-1.5 border border-gray-300 text-base leading-5 font-semibold rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      <svg class="-ml-1.5 mr-1 h-8 w-8 text-gray-400" fill="none" stroke="red" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                      </svg>
                      <span>BORRAR</span>
                    </button>
                </div> -->
              </div>
              <div  *ngIf=" actions!='InOrder'" class="flex flex-row px-1">
              <div  *ngFor="let item of patient.item; let modelIndex = index ">
                 
                <div  *ngIf="i==0" class="flex flex-row px-1">
                  <!-- <label for="Quantity" class="block text-base font-semibold text-gray-700">1 </label> -->
                  <label for="model" class="block text-base font-semibold text-gray-700  pr-1"> MODELO : </label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700"> {{item.model}}</label>      
                  <button *ngIf="j!=0 && actions!='InOrder'"class="ml-2" (click)="deleteShoeSol(item,modelIndex,arrMainNgFor)" type="button">
                      
                    <svg class="-ml-1.5 mr-1 h-6 w-8 text-red-400" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    <!-- <span>BORRAR</span> -->
                  </button>
                </div>
                
                
                </div>
                <div *ngIf=" actions!='InOrder'" class="relative flex justify-center">
                  <button (click)="addShoeSol(patient,item,i,j,arrMainNgFor)" type="button" class="inline-flex items-center shadow-sm px-4 py-1.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <svg class="-ml-1.5 mr-1 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                    </svg>
                    <span>ANADIR UN MODELO 
                      </span>
         
                  </button>
                </div>
              </div>
              <div  *ngIf=" actions=='InOrder'" class="flex flex-row px-1">
                <div  *ngFor="let item of patient.options; let modelIndex = index ">
                   
                  <div  *ngIf="i==0" class="flex flex-row px-1">
                    <!-- <label for="Quantity" class="block text-base font-semibold text-gray-700">1 </label> -->
                    <label for="model" class="block text-base font-semibold text-gray-700  pr-1"> MODELO : </label>
                    <label for="street_address" class="block text-base font-semibold text-gray-700"> {{item.model}}</label>      
                    <!-- <button *ngIf="j!=0 && actions!='InOrder'" (click)="deleteShoeSol(item,modelIndex,arrMainNgFor)" type="button">
                        
                      <svg class="-ml-1.5 mr-1 h-6 w-8 text-red-400" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                      </svg>
                    </button> -->
                  </div>
                  
                  
                  </div>
                
                </div>
              <!-- NEW FORMMMMMM -->
              <div *ngIf="i==0" class="grid grid-cols-6 gap-4 pt-4" >
              
                <!-- <div *ngIf="i==0" class="col-span-2">
                  <label for="street_address" class="block text-base font-semibold text-gray-700">Paciente Apellido</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700"> {{patient.patientName}}</label>
                </div>
               
                <div *ngIf="i==0" class="col-span-2">
                  <label for="street_address" class="block text-base font-semibold text-gray-700">Paciente Nombre</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{patient.patientFirstName}}</label>
                </div> -->
                <div *ngIf="i==0" class="relative col-span-8">
                  <div class="absolute inset-0 flex items-center" aria-hidden="true">
                    <div class="w-full border-t border-gray-300"></div>
                  </div>
                  <div class="relative flex items-center justify-center">
                    <span class="pr-3 bg-white text-lg font-semibold text-gray-900">
                    TALLES & CORRECCION
                    </span>
                  </div>
                </div>
               
                <div *ngIf="i==0"class="col-span-2 base:col-span-2">
                  <label for="size" class="block text-base font-semibold text-gray-700">TALLES</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.size}}</label>
                </div>
          
                <div *ngIf="i==0"class="col-span-2 base:col-span-2">
                  <label for="correction" class="block text-base font-semibold text-gray-700">CORRECCION</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.correction}}</label>
                </div>
          
             
                <div *ngIf="(item.oliva_BarraMetatarsal|| item.descargaAntepie|| item.rai||item.rae)&&i==0&&actions!='InOrder'" class="relative col-span-8">
                  <div class="absolute inset-0 flex items-center" aria-hidden="true">
                    <div class="w-full border-t border-gray-300"></div>
                  </div>
                  <div class="relative flex items-center justify-center">
                    <span class="pr-3 bg-white text-lg font-semibold text-gray-900">
                      ANTEPIE 
                    </span>
                  </div>
                </div>

                <div *ngIf="item.oliva_BarraMetatarsal &&i==0&&actions!='InOrder'" class="col-span-2 base:col-span-2">
                  <label for="olivaBarras" class="block text-base font-semibold text-gray-700">OLIVA BARRA METATARSAL :</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.oliva_BarraMetatarsal}}</label>
                </div>
                
                <div *ngIf="item.descargaAntepie&&i==0&&actions!='InOrder'" class="col-span-2 base:col-span-2">
                  <label for="descargaAntepie" class="block text-base font-semibold text-gray-700">DESCARGA ANTEPIE :</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.descargaAntepie}}</label>
                </div>
                
                <div *ngIf="item.rai&&i==0&&actions!='InOrder'" class="col-span-2 base:col-span-2">
                  <label for="rai" class="block text-base font-semibold text-gray-700">RAI :</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.rai}}</label>
                </div>
                
                <div *ngIf="item.rae&&i==0&&actions!='InOrder'" class="col-span-2 base:col-span-2">
                  <label for="rae" class="block text-base font-semibold text-gray-700">RAE :</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.rae}}</label>
                </div>
                <div  *ngIf="item.arco && item.contraArco&&i==0&&actions!='InOrder'" class="relative col-span-8">
                  <div class="absolute inset-0 flex items-center" aria-hidden="true">
                    <div class="w-full border-t border-gray-300"></div>
                  </div>
                  <div class="relative flex items-center justify-center">
                    <span class="pr-3 bg-white text-lg font-semibold text-gray-900">
                     Medio 
                    </span>
                  </div>
                </div>
  
                <div *ngIf="item.arco&&i==0&&actions!='InOrder'" class="col-span-2 base:col-span-4">
                  <label for="arco" class="block text-base font-semibold text-gray-700"> ARCO LONGITUDINAL INTERNO :</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.arco}}</label>
                </div>
                
                <div *ngIf="item.contraArco&&i==0&&actions!='InOrder'" class="col-span-2 base:col-span-4">
                  <label for="contraArco" class="block text-base font-semibold text-gray-700">CONTRA-ARCO :</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.contraArco}}</label>
                </div>
              
                <div *ngIf="(item.alsa || item.rpi || item.rpe|| item.alcochadaOEspolon)&&i==0&&actions!='InOrder'" class="relative col-span-8">
                  <div class="absolute inset-0 flex items-center" aria-hidden="true">
                    <div class="w-full border-t border-gray-300"></div>
                  </div>
                  <div class="relative flex items-center justify-center">
                    <span class="pr-3 bg-white text-lg font-semibold text-gray-900">
                      RETROPIE/TALON
                    </span>
                  </div>
                </div>
              
                <div *ngIf="item.alsa&&i==0&&actions!='InOrder'" class="col-span-2 base:col-span-2">
                  <label for="alturaDeAlsa" class="block text-base font-semibold text-gray-700">ALZA :</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.alsa}}</label>
                </div>
    
                <div *ngIf="item.rpi&&i==0&&actions!='InOrder'" class="col-span-2 base:col-span-2">
                  <label for="rpi" class="block text-base font-semibold text-gray-700">RPI :</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.rpi}}</label>
                </div>
          
                <div *ngIf="item.rpe&&i==0&&actions!='InOrder'" class="col-span-2 base:col-span-2">
                  <label for="rpi" class="block text-base font-semibold text-gray-700">RPE :</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.rpe}}</label>
                </div>
                <div *ngIf="item.alcochadaOEspolon&&i==0&&actions!='InOrder'" class="col-span-2 base:col-span-2">
                  <label for="rpi" class="block text-base font-semibold text-gray-700">ACOLCHADO DE TALON/DESCARGA ESPOLON :</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.alcochadaOEspolon}}</label>
                </div>
                <div *ngIf="item.talonera&&i==0&&actions!='InOrder'" class="col-span-2 base:col-span-4">
                  <label for="talonera" class="block text-base font-semibold text-gray-700">TALONERA :</label>
                  <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.talonera}}</label>
                </div>
              <div   *ngIf=" item.clinica&&i==0&&actions!='InOrder'" class="relative col-span-8">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                  <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex items-center justify-center">
                  <span class="pr-3 bg-white text-lg font-semibold text-gray-900">
                    OPCCION ANNEXAS
                  </span>
                </div>
              </div>
             
              
              <div *ngIf="item.clinica&&i==0&&actions!='InOrder'" class="col-span-4">
                <label for="text" class="block text-base font-semibold text-gray-700">Clinica : </label>
                <label for="street_address" class="block text-base font-semibold text-gray-700">{{item.clinica}}</label>
              </div>
              
              </div>
              <!-- <div  *ngIf="actions!='InOrder'&&i==0"  class="relative col-span-8">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-300"></div>
              </div>
              <div class="relative flex justify-center">
                <button (click)="addShoeSol(patient,item,i,j)" type="button" class="inline-flex items-center shadow-base px-4 py-1.5 border border-gray-300 text-base leading-5 font-semibold rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                  <svg class="-ml-1.5 mr-1 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                  </svg>
                  <span>ANADIR UN MODELO DE PLANTILLA MAS AL PACIENTE : {{patient.patientName}} {{patient.patientFirstName}}
                    </span>
                </button>
              </div>
            </div> -->
            </div>
          </div>
          </a>
          </div>
          <div *ngIf="actions!='InOrder'"  class="relative flex justify-start pl-4 bg-gray-50">
            <button (click)="addPaciente()" type="button" 
            class="inline-flex items-center shadow-base px-4 py-1.5 border
             border-gray-300 text-base leading-9 font-semibold rounded-lg text-gray-900
              bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2
               focus:ring-indigo-500">
              <svg class="-ml-1.5 mr-1 h-5 w-5 text-gray-900" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
              </svg>
              <span>ANADIR UN PACIENTE MAS</span>
            </button>
          </div>
            </div>
           
         
