<div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 pt-8">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
      <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
        Utilisateurs
      </h2>
    </div>
    <div class="mt-4 flex md:mt-0 md:ml-4">
      <button (click)="insertUser()" type="button" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Ajouter un utilisateur
      </button>
    </div>
  </div>
<app-generic-table [filter]="filter" [searchBar]="searchBar" [arrMainNgFor]="arrMainNgFor" [arrHeader]="arrHeader" [actions]="actions" [alertMsgFilterNoMatch]="alertMsgFilterNoMatch" ></app-generic-table>
</div>
